fastapi
uvicorn
streamlit
boto3
botocore
python-dotenv
langchain
langchain-core
langchain-community
langchain-aws
langgraph
langfuse
opensearch-py
requests-aws4auth
pypdf
tiktoken
requests
psycopg2-binary
pydantic
